<div style="text-align:center">
    <h1>
      My Drunkquotes
    </h1>
    <img width="300" alt="Angular Logo" src="/assets/image/drunk.gif">
  </div>
  <div>
    <hr>
<ul>
  <div *ngFor='let drunkquote of drunkquotes;let i = index'>
    <li>{{drunkquote.name}}</li>
    <button (click)='toggleDetail(i)'>Toggle Details</button>
    <app-drunkquote-detail *ngIf='drunkquote.showDescription' [drunkquote]='drunkquote'></app-drunkquote-detail>
  </div>
</ul>
<p *ngIf='drunkquotes.length > 5'>You have too many drunkquotes</p>