<div class="container">
  <h1>My Drunkquotes</h1>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <div *ngFor='let drunkquote of drunkquotes;let i = index'>
        <div>
          <h4 id={{i}} appStrikethrough>{{drunkquote.name}} due on {{drunkquote.completeDate|date|uppercase}}</h4>
          <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button>
        </div>

        <div *ngIf='drunkquote.showDescription'>
          <app-drunkquote-detail  [drunkquote]='drunkquote' (isComplete) = 'deleteDrunkquote($event,i)'></app-drunkquote-detail>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <app-drunkquote-form (addDrunkquote)="addNewDrunkquote($event)"></app-drunkquote-form>
 </div>
  </div>
  <p *ngIf='drunkquotes.length > 7'>You have too many drunkquotes</p>
</div>
  

 