<div class="container">
  <div style="text-align:center"> 
        <img width="300" alt="Angular Logo" src="assets/image/log.gif">   </div> <ng-progress></ng-progress>
    <h1>My Drunkquotes</h1>
    <hr>

    <div class="row">
      <div class="col-md-6">
        <div *ngFor='let drunkquote of drunkquotes;let i = index'>
          <div class="card transparent-item" style="width: 30rem;">
            <div class="card-body">
              <h5 class="card-title">{{drunkquote.name}} due on {{drunkquote.completeDate|date|uppercase}}</h5>
              <p class="card-text"></p>
              <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button><br>


            </div>
          </div>

          <div *ngIf='drunkquote.showDescription'>
            <app-drunkquote-detail 
            [drunkquote]='drunkquote' 
            (isComplete)='deleteDrunkquote($event,i)'
              (upvotes)='upVotes($event,i)' 
              (downvotes)='downVotes($event,i)'>
            </app-drunkquote-detail>

          </div>
        </div>
      </div>
      <div class="col-md-6">
        <app-drunkquote-form (addDrunkquote)="addNewDrunkquote($event)"></app-drunkquote-form>
      </div>
    </div>
    <p *ngIf='drunkquotes.length > 7'>You have too many drunkquotes</p>
  </div>
